<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.postimg.cc/j5wK5dpr/unnamed.png%22%3E" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/blocks.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function() {
            let height = $(document).height();
            let allHeights = $('footer').height() + $('.container-nav').height();
            $('main').height(height - allHeights);
        })
    </script>
    <title>Inemaps</title>
</head>

<body>
    <section class="container-nav">
        <a class="container-logo" href="/"><img id="nav-logo" src="https://i.postimg.cc/MHRb3QWv/inemaps-nav-logo2.png"
                alt="Inemaps Logo"></a>
        <nav>
            <ul class="container-links">
                <% if(!req.isAuthenticated()) { %>
                    <li><a href="/users/login">Log in</a> </li>
                    <% } %>
                        <% if(req.isAuthenticated()) { %>
                            <li><a href="/posts">Publications</a></li>
                            <% } %>
                                <li><a href="/bloques">Blocks</a></li>
                                <% if(req.isAuthenticated()) { %>
                                    <li>
                                        <a href="">Profile</a>
                                        <ul class="menu-vertical">
                                            <li><br>Welcome!</li>
                                            <li><a href="/users/dashboard">View my profile</a></li>
                                            <li><a href="/users/logout">Log out</a></li>
                                        </ul>
                                    </li>
                                    <% } %>
            </ul>
        </nav>
        <a href="/"><button id="nav-btn">Home</button></a>
    </section>
    <main class="blocks-bg main-background">
        <div class="blocks-main">
            <div class="blocks-section1">
                    <div class="block-element">
                        <div class="image">
                            <!--
                                1. El tamaño de las fotografias del zip deben ser cambiadas a 200px x 134px
                                    se puede usar por ejemplo https://www.iloveimg.com/es/redimensionar-imagen/jpg-cambiar-tamano#resize-options,pixels
                                2. Las fotos deben subirse a un almacen de imagenes remoto
                                    se puede usar por ejemplo https://postimages.org/
                                3. Se pueden crear mas espacios para bloque copiando todo desde el div block-element
                            -->
                            <img src="https://i.postimg.cc/fyd3vyhh/P1470500.jpg" alt="bloque turituki">
                        </div>
                        <div class="block-descripcion">
                            <div class="title">
                                <b>Bloque 7A</b>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam, omnis natus sed praesentium dolor. Lorem ipsum dolor sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="block-element">
                        <div class="image">
                            <img src="https://i.postimg.cc/fyd3vyhh/P1470500.jpg" alt="bloque turituki">
                        </div>
                        <div class="block-descripcion">
                            <div class="title">
                                <b>Bloque 7A</b>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam, omnis natus sed praesentium dolor. Lorem ipsum dolor sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="block-element">
                        <div class="image">
                            <img src="https://i.postimg.cc/fyd3vyhh/P1470500.jpg" alt="bloque turituki">
                        </div>
                        <div class="block-descripcion">
                            <div class="title">
                                <b>Bloque 7A</b>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam, omnis natus sed praesentium dolor. Lorem ipsum dolor sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="block-element">
                        <div class="image">
                            <img src="https://i.postimg.cc/fyd3vyhh/P1470500.jpg" alt="bloque turituki">
                        </div>
                        <div class="block-descripcion">
                            <div class="title">
                                <b>Bloque 7A</b>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam, omnis natus sed praesentium dolor. Lorem ipsum dolor sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="block-element">
                        <div class="image">
                            <img src="https://i.postimg.cc/fyd3vyhh/P1470500.jpg" alt="bloque turituki">
                        </div>
                        <div class="block-descripcion">
                            <div class="title">
                                <b>Bloque 7A</b>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam, omnis natus sed praesentium dolor. Lorem ipsum dolor sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="block-element">
                        <div class="image">
                            <img src="https://i.postimg.cc/fyd3vyhh/P1470500.jpg" alt="bloque turituki">
                        </div>
                        <div class="block-descripcion">
                            <div class="title">
                                <b>Bloque 7A</b>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam, omnis natus sed praesentium dolor. Lorem ipsum dolor sit</p>
                            </div>
                        </div>
                    </div>
                    <div class="block-element">
                        <div class="image">
                            <img src="https://i.postimg.cc/fyd3vyhh/P1470500.jpg" alt="bloque turituki">
                        </div>
                        <div class="block-descripcion">
                            <div class="title">
                                <b>Bloque 7A</b>
                            </div>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque totam, omnis natus sed praesentium dolor. Lorem ipsum dolor sit</p>
                            </div>
                        </div>
                    </div>        
            </div>
            <div class="blocks-section2">
                
            </div>
        </div>
    </main>
    <footer>
        <h4>Todos los derechos reservados.</h4>
        <p>Copyright &copy; 2022</p>
    </footer>
</body>
</html>