<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.postimg.cc/j5wK5dpr/unnamed.png%22%3E" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/blocks.css">
    <link rel="stylesheet" type="text/css" href="../public/posts.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function() {
            let height = $(document).height();
            let allHeights = $('footer').height() + $('.container-nav').height();
            $('main').height(height - allHeights);
        })
    </script>
    <title>Inemaps</title>
</head>

<body>
    <header class="container-nav">
        <a href="/"><button id="nav-btn">Home</button></a>
        <nav>
            <ul class="container-links">
                <li><a href="/bloques">Blocks</a></li>
                
                <% if(req.isAuthenticated()) { %>
                    <li><a href="/posts">Publications</a></li>
                <% } %>

                <% if(!req.isAuthenticated()) { %>
                    <li><a href="/users/login">Log in</a> </li>
                <% } %>
                
                <% if(req.isAuthenticated()) { %>
                    <li>
                        <a href="">Profile</a>
                        <ul class="menu-vertical">
                            <li><br>Welcome!</li>
                            <li><a href="/users/dashboard">View my profile</a></li>
                            <li><a href="/users/logout">Log out</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </nav>
        <a class="container-logo" href="/"><img id="nav-logo"
                src="https://i.postimg.cc/MHRb3QWv/inemaps-nav-logo2.png" alt="Inemaps Logo"></a>
    </header>
    <main class="blocks-bg main-background">
        <div class="blocks-main">
            <div class="blocks-section1">
                
                <% for(var i = 0; i < bloquesJS.length; i++){ %>
                    <div class="block-element hide-category" id=" <%= bloquesJS[i].id %> ">
                        <div class="image">
                            <img src="<%= bloquesJS[i].img %>" alt="bloque turituki">
                        </div>
                        <div class="block-descripcion">
                            <div class="title">
                                <b><%= bloquesJS[i].Titulo%></b>
                            </div>
                            <div class="content">
                                <p><%= bloquesJS[i].Descripcion %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    
            </div>
            <div class="blocks-section2 hide-category">
                <img src="https://i.postimg.cc/RZsdLK4M/MapaInem.jpg" id="imgchange" alt="">
            </div>
        </div>
    </main>
    <script>
        let bloque1 = document.getElementById("1");
        let bloque2 = document.getElementById("2");
        let bloque3 = document.getElementById("3");
        let bloque5A = document.getElementById("4");
        let bloque5B = document.getElementById("5");
        let bloque6A = document.getElementById("6");
        let bloque6B = document.getElementById("7");
        let bloque7A = document.getElementById("8");
        let bloque7B = document.getElementById("9");
        let bloque8 = document.getElementById("10");
        let imgchange = document.getElementById("imgchange");

        bloque1.onclick = function() {
            imgchange.src = "https://i.postimg.cc/fy7nVB4W/Mapa-Inem1.jpg";
        }

    </script>
    <footer>
        <h4>Todos los derechos reservados.</h4>
        <p>Copyright &copy; 2022</p>
    </footer>
    <script src="../public/js/bloques.js"></script>
</body>
</html>