<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.postimg.cc/j5wK5dpr/unnamed.png%22%3E" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Inemaps</title>
</head>

<body>
    <header class="container-nav">
        <a href="/"><button id="nav-btn">Home</button></a>
        <nav>
            <ul class="container-links">
                <li><a href="/bloques">Blocks</a></li>
                
                <% if(req.isAuthenticated()) { %>
                    <li><a href="/posts">Publications</a></li>
                <% } %>

                <% if(!req.isAuthenticated()) { %>
                    <li><a href="/users/login">Log in</a> </li>
                <% } %>
                
                <% if(req.isAuthenticated()) { %>
                    <li>
                        <a href="">Profile</a>
                        <ul class="menu-vertical">
                            <li><br>Welcome!</li>
                            <li><a href="/users/dashboard">View my profile</a></li>
                            <li><a href="/users/logout">Log out</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </nav>
        <a class="container-logo" href="/"><img id="nav-logo"
                src="https://i.postimg.cc/MHRb3QWv/inemaps-nav-logo2.png" alt="Inemaps Logo"></a>
    </header>

    <main>
        <a href="/users/logout">Logout</a>
        <h1>Hello <%= user %>
        </h1>
        <a href="/crear/post">CREAR</a>

    </main>
</body>

</html>