<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.postimg.cc/j5wK5dpr/unnamed.png%22%3E" type="image/x-icon" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <link rel="stylesheet" href="../public/style.css" />
    <link rel="stylesheet" href="../public/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function() {
            let height = $(document).height();
            let allHeights = $('footer').height() + $('.container-nav').height();
            $('main').height(height - allHeights);
        })
    </script>
    <title>Inemaps</title>
</head>

<body>
    <div class="container-nav">
        <a class="container-logo" href="/"><img id="nav-logo" src="https://i.postimg.cc/MHRb3QWv/inemaps-nav-logo2.png"
                alt="Inemaps Logo" /></a>
        <nav>
            <ul class="container-links">
                <% if(!req.isAuthenticated()) { %>
                    <li><a href="/users/register">Register</a></li>
                    <% } %>
                        <% if(req.isAuthenticated()) { %>
                            <li><a href="/posts">Publications</a></li>
                            <% } %>
                                <li><a href="/bloques">Blocks</a></li>
            </ul>
        </nav>
        <a href="/"><button id="nav-btn">Home</button></a>
    </div>

    <main id="div2">
        <div class="login-container">
            <div class="login-text">
                <h1>Log in</h1>

                <ul>
                    <% if(messages.succes_msg) {%>
                        <li>
                            <%= messages.succes_msg%>
                        </li>
                        <% } %>
                </ul>

                <ul>
                    <% if(messages.error) {%>
                        <li>
                            <%= messages.error%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div class="login-inputs">
                <form action="/users/login" method="POST">
                    <div>
                        <input class="simple-text dark input-text" type="email" name="email" id="email"
                                placeholder="Email" autofocus required />
                    </div>
                    <div>
                        <input class="simple-text dark input-text" type="password" name="password" id="password"
                            placeholder="Password" required />
                    </div>
                    <div>
                        <button type="submit" id="login-btn">Login</button>
                    </div>
                    <p>
                        U don't have an account?
                        <a href="/users/register"><span>Register here</span></a>
                    </p>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <h4>Todos los derechos reservados.</h4>
        <p>Copyright &copy; 2022</p>
    </footer>
</body>

</html>