.social-container {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.fa {
    font-size: 25px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: var(--s-black);
}

/*Contenido Principal*/
.sobre-nosotros {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.description {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.description-text {
    max-width: 50%;
}



#home-logo {
    width: 150%;
}

/*Teams*/
.team {
    background-color: var(--p-black);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.team-descripcion {
    padding: 10px;
}

.team-descripcion h1 {
    margin-bottom: 1.1rem;
}

.integrantes {
    margin-top: 1.1rem;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}

.card {
    background-color: var(--p-green);
    width: 13rem;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.5s ease 0s;
}

.card:hover {
    box-shadow: 7px 7px 0 var(--s-green);
    top: -5px;
    right: -5px;
}

.card img {
    margin: auto;
    border-radius: 50%;
}

.card .card-contenido {
    margin-top: 1.1em;
    padding: 3%;
    border-radius: 15px;
}

.card .card-contenido h3 {
    margin-bottom: 1.1rem;
}

/*Botón para ir arriba*/
.go-top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: var(--s-green);
    border-radius: 50%;
    transition: .2s;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i {
    font-size: 75%;
    color: white;
    transition: .2s;
}

.show {
    animation: popup .45s ease-in-out;
    z-index: 1;
}

@keyframes popup {
    0% {
        width: 0px;
        height: 0px;
    }
    50% {
        width: 65px;
        height: 65px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}
