.post {
    background-color: var(--p-black);
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    padding: 1.1rem;
    height: auto;
    width: 80vw;
    word-wrap: break-word;
}

.post-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    word-wrap: break-word;
    justify-content: space-between;
}

.post-header .main-title {
    overflow: auto;
}

.post .main-title {
    text-align: start;
}


.post-content p:first-child {
    opacity: .8;
}

.comentarios-form form{
    display: flex;  
    flex-direction: column;
    width: fit-content;
    row-gap: 1em;
}

.comentarios-form form textarea {
    border-radius: 20px;
    border: 0px;
    padding: 12px 20px;
    resize: none;
    min-width: 40vw;
    height: auto;
    box-shadow: 0px 0px 5px black;
}

#commentBtn {
    width: 100%;
    text-align: center;
}