.hola {
    padding: 2rem;
    height: 80vh;
}

.post {
    background-color: var(--p-black);
    border-radius: 20px;
    margin: 1.5rem auto;
    box-shadow: 0px 0px 5px black;
    padding: 1.1rem;
}

.nose {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}


.post .main-title {
    text-align: start;
}


.post-content p:first-child {
    opacity: .8;
}