.bruh {
    padding: 2rem;
}

.posts-description {
    margin-bottom: 2rem;
    text-align: center;
}

.posts-description ul li {
    color: var(--lighter-green);
}

#newPostBtn {
    margin-bottom: 2em;
    text-align: center;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.post {
    position: relative;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
    padding: 1.1rem;
    background-color: var(--p-black);
    max-width: 30em;
    min-height: 10vh;
    word-wrap: break-word;
}

.post .categoria {
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -5%;
    background-color: var(--s-green);
    width: 140px;
    height: 38px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    transition: all .5s;
}

.post .main-title {
    place-self: center start;
    font-size: x-large;
}

.post-content {
    display: grid;
    margin-top: 5%;
    text-align: justify;
}

.post-content p:nth-child(2) {
    opacity: .7;
    overflow: auto;
}

.post-content a {
    place-self: end;
    margin-right: 5%;
}

.hide-category {
    opacity: 0;
    transition: all .8s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show-category {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}